*.DS_Store
__pycache__/
*.out
/imgs/slide*.png
/imgs/parts/
/js-build/*.js
/webserver/
~$*
*_logs.txt
id_rsa
config.py

BACKEND_API.md
PIPELINE_EXAMPLE.md
BACKEND_instructions.md
EPCOT_Agent.pdf
EPCOT_Agent_Greatlakes.pdf
FRONTEND_instructions.md